/* Header styles */
.header {
    background-color: #bab8ff;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 48px;
    font-weight: bold;
    color: rgb(3, 3, 138);
  }
  
  .header h3 {
    font-size: 24px;
    color: rgb(172, 15, 15);
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .header li {
    margin: 0 10px;
  }
  
  .header li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .header li a:hover {
    color: rgb(189, 0, 0);
  }
  
  /* Main content styles */
  .main-content {
    padding: 20px;
    text-align: center;
  }
  
  .main-content h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
  }
  
  /* Footer styles */
  .footer {
    background-color: #bab8ff;
    color: #000000;
    padding: 100px;
    text-align: center;
  }
  
  .footer h2 {
    font-size: 30px;
    font-weight: normal;
    color: #c70000;
  }
 
  
  .contact-info {

    font-size: 16px;
    line-height: 1.5;
  }
  .social-media-info {

    font-size: 16px;
    line-height: 1.5;
  }
